// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

* {
    box-sizing: border-box;
}
// Reset CSS
html {
    font-size: 10px;
}

body {
    background-image: url(/img/Background.png);
    width: 100vw;
    background-repeat: repeat-y;
    background-attachment: fixed;
    opacity: 0.5;
}

.home__intro-container {
    display: grid;
}

.home__portrait {
    height: 100%;
    margin: 7em;
 }
 
 .home__social-medias {
    height: 100%;
    object-fit: cover;
 }

