// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/* Intro */

.intro__name {
@include titles;
  font-size: x-large;
  color: $black;
}

.intro__name-mobile {
@include titles;
  font-size: x-large;
}

.intro__section-container {
    @include cards;
    
    margin: 0 auto;
    max-width: 100rem;
    padding: 4rem 0 4rem 0;
    margin-top: 12rem;
    @media screen and (max-width: 1125px) {
        margin: 10rem;
    }
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.home__intro-container {
    @include grid-column-repeat(2, 200px, 1fr, 22rem, 1rem);
    @media screen and (max-width: 1100px) {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

   
/// Portrait intro

.home__portrait {
    max-width: 50rem;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

 
 .home__social-medias {
    display: flex;
    justify-content: space-evenly;
    img {
        width: 4rem;
    }
    svg {
        height: 4.5rem;
        width: 4rem;
        color: $logo-intro;
    }
 }



 .home__intro-text {
    display: flex;
    align-items: center;
     font-size: x-large;
     @media (max-width: 1650px) {
         font-size: large;
     }
 }

 .intro__title {
    font-weight: 600;
 }

 /// Intro Responsive part 

 
 @media screen and (min-width: 900px) {
    .intro__card-mobile {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    .intro__card-mobile {
    @include cards; 
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5rem;
    .intro__profile-pic {
        height: 63rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }
 }
}
  
  
  .intro__mobile-container {
    padding: 0.2rem 1.6rem;
}


/// About part 

#about {
    margin: 10rem;
}

.section__about {
    @include cards;
    @media screen and (max-width: 800px) {
        padding: 0.4rem 3rem 3rem 0.4rem;
        height: 60%;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 55%;
    margin-top: 10rem;
    padding: 4rem 5rem 4rem 5rem;
}

@media screen and (max-width: 900px) { 
    .section__about {
        width: 75%;
    }
}

.about {
    margin: 5em;
}


/// Resume Part


.title__parcours {
    margin-top: 10rem;
}

// /// Skills

// .skills__li {
//     background-position: 100%;
//     background-repeat: no-repeat;
//     background-size: cover;
//     padding-bottom: 10em;
//     overflow-x: hidden;
//     overflow-y: auto;
  
//     &__title {
//       font-size: 3em;
//     }
//   }
  
//   // article styles 
//   .skills__ul {
//     margin: 10rem; 
//     li {
//       margin-bottom: 5rem;
//     }
//   }
  
//   .skills__article {
//     background-color: $card-color;
//     box-shadow: 0 0.1rem 2rem black(.24);
//     display: flex;
//     flex-flow: column wrap;
    
//     > div {
//       flex: 1;
//     }
    
//     > .skills__article-media {
//       background-color: transparent;
//       background-position: 100%;
//       background-repeat: no-repeat;
//       background-size: cover;
//       height: 100%;
//       min-width: 8em;
//       position: relative;
      
//       &:after {
//         display: block;
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         height: 100%;
//         width: 100%;
//       }
      
//       .skills__ul > :nth-child(1) & {
//         background-image: url(/img/html-5.png);
//       }
      
//       .skills__ul > :nth-child(2) & {
//         background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/190822/tiger-bw-640x480.jpg');
//       }
      
//       .skills__ul > :nth-child(3) & {
//         background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/190822/rhino-bw-640x480.jpg');
//       }
//     }
    
  
//   } 
  
//   /// Responsive
  
//   @media (min-width: 40em) {
//     .skills__article {
//       flex-direction: row;
      
//       .skills__article-media {
//         height: auto;
//       }
//     }
//   }


.section__skills {
    @include grid-column-repeat(2, 150px, 2fr, 1rem, 1rem);
    justify-items: center;
    img {
        width: 70%;
        margin-top: 4rem;
        @media screen and (max-width: 800px) {
            margin-top: 1rem;
        }
    }
}

.article__skills {
    @include cards; 
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40%;
    width: 65%;
    margin-top: 10rem;   
    padding: 2rem 3rem 2rem 3rem;
    @media screen and (max-width: 800px) {
        margin-top: 3rem;
        height: 80%;
    }
}

.home__title-span {
   margin: 6rem;
}


/// Timeline 

.home__timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    &:after {
        content: '';;
        position: absolute;
    width: 0.6rem;
    background-color: $navbar-color;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.3rem;
    }
}
  
  .timeline__container {
    padding: 1rem 4rem;
    position: relative;
    background-color: inherit;
    width: 50%;
   &:after {
      content: '';
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      right: -1.7rem;
      background-color: $card-color;
      border: 0.4rem solid $nav-links-hover;
      top: 1.5rem;
      border-radius: 50%;
      z-index: 1;
    }
    span {
        font-size: medium;
    }
}
    
    .timeline__item-left {
      left: 0;
    }
    
    .timeline__item-right {
        left: 50%;
        &:after {
        left: -1.4rem;
    }
}
 
    .timeline__content {
      padding: 2rem 3rem;
      background-color: $card-color;
      position: relative;
      border-radius: 0.6rem;
    }
    
    /// Responsive 

    @media screen and (max-width: 600px) {
      .home__timeline {
      &:after {
      left: 3.1rem;
      }
    }
      
      .timeline__container {
      width: 100%;
      padding-left: 7rem;
      padding-right: 2.5rem;
      }

      .timeline__item-left::after, .timeline__item-right::after {
      left: 1.5rem;
      }
      
      .timeline__item-right {
      left: 0%;
      }
    }


    /// Portfolio

    #portfolio {
        margin: 10rem;
    }

    .portfolio__container {
        @include grid-column-repeat(3, 150px, 2fr, 2rem, 1rem);
        text-align: center;
        @media screen and (max-width: 1500px) {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
        }
        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
            justify-content: center;
          }
        img {
            width: 80%;
            @media screen and (max-width: 1000px) {
                width: 55%;
            }
            &:hover {
                border: 0.3rem solid $nav-links-hover;
                border-radius: 1rem;
            }
        }
    }

    .portfolio__projects {
  
    }


    /// Contact form

    #contact {
        margin: 10rem;
    }
    input[type=text],  input[type=email], textarea {
        width: 100%;
        padding: 1.2rem;
        border: 0.1rem solid $nav-links-hover;
        border-radius: 0.4rem;
        box-sizing: border-box;
        margin-top: 0.6rem;
        margin-bottom: 1.6rem;
        resize: vertical;
      }

      
      
      .contact__form {
        border-radius: 0.5rem;
        background-color: $card-color;
        padding: 2rem;
        margin: 8rem;
      }


      /// footer

      footer {
        margin-top: 2em;
        bottom:0;
        left:0;
        width:100%;
       }
 
    
       .footer {
        display: flex;
        justify-content: center; 
       align-items: center;
       flex-direction: row;
       color: $white;
       a {
           color: $white;
           text-decoration: underline;
           &:hover {
               color: $black;
           }
       }
       }
    