 /* ============================================================================
    Header
     ============================================================================ */
.home__portrait {
   height: 100%;
}

.home__social-medias {
   height: 100%;
   object-fit: cover;
}