/* ============================================================================
  Navbar
   ============================================================================ */

   nav {
     width: 100vw;
     position: fixed;
     top: 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 1.5rem 2rem ;
     background-color: $navbar-color;
     transition: top 500ms ease-in-out;
    a {
      text-transform: uppercase;
      color: $nav-links-color;
      font-size: 1.7rem;
      display: inline-block;
      margin: 0 0.5em;
      &:hover {
        color: $nav-links-hover;
      } 
    }
  }

  .nav__logo {
  font-weight: bold;
  letter-spacing: 0.2em;
  &:hover {
    text-decoration: none;
   }
  }

  .nav__links {
    margin: 0 1em;
  }


  /* Burger Menu */

  /* .burger__menu-Toggle {
    display: block;
    top: 0;
    left: 5rem;
    position: relative;
    right: 3rem;
    z-index: 1;
    a {
    text-decoration: none;
    transition: color 0.3s ease;
    }
  }
 /*   -webkit-user-select: none;
    user-select: none; (dans .burger__menu-Toggle)*/
  
  
  
  /* Responsive */
 
  @media (max-width: 800px) {
    .nav__links {
      display: none;
      }
  }
 
  h2 {
    text-transform: uppercase;
    text-align: center;
  }