// /* ============================================================================
//   Navbar
//    ============================================================================ */

   nav {
     width: 100vw;
     position: fixed;
     top: 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 1.5rem 2rem ;
     background-color: $navbar-color;
     transition: top 500ms ease-in-out;
     z-index: 5;
    a {
      text-transform: uppercase;
      color: $nav-links-color;
      font-size: 1.7rem;
      display: inline-block;
      margin: 0 0.5em;
      &:hover {
        text-decoration: none;
        color: $nav-links-hover;
      } 
    }
  }

  .nav__logo {
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: 'PT Sans', sans-serif;
  &:hover {
    text-decoration: none;
   }
  }

  @media screen and (max-width: 901px) {
    .nav__logo {
      margin: 0 auto;
    }
  }

  .nav__links {
    margin: 0 1em;
  }

  
  /* Responsive Hamburger Menu */

  @media screen and (min-width: 901px) {
    .hamburger-menu, #menu__toggle, .menu__btn, .menu__box, .menu__item {
      display: none;
    }
  }

.menu__box {
  z-index: 5;
}

  
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 2.5rem;
    left: 2rem;
    width: 2.6rem;
    height: 2.6rem;
    cursor: pointer;
    z-index: 7;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: $nav-links-color;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -0.8rem;
  }
  .menu__btn > span::after {
    content: '';
    top: 0.8rem;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -150%;
    width: 30rem;
    height: 100%;
    margin: 0;
    padding: 8rem 0;
    list-style: none;
    background-color: $navbar-color;
    box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 6;
  }
  .menu__item {
    display: block;
    padding: 1.2rem 2.4rem;
    color: $nav-links-color;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item {
  &:hover {
    background-color: #CFD8DC;
    text-decoration: none;
    }
  }



  
  /* Responsive */
 
  @media (max-width: 900px) {
    .nav__links {
      display: none;
      }
  }
 