 /* ============================================================================
    Buttons
     ============================================================================ */

 /// Dark mode button

 .dark-mode-toggle {
  position: absolute;
  right: 4rem;
  top: 10rem;
}

.dark-mode-checkbox {
  display: none;
}

.dark-mode-label {
  height: 2.6rem;
  width: 5rem;
  background: $navbar-color;
  padding: 0.5rem 0.8rem;
  border-radius: 5rem;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
  box-shadow: 0.2rem 0.1rem 0.1rem $shadow;
}

.dark-mode-label .dark-mode-ball {
  background: $gray;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  transform: translateX(0px);
  transition: transform 0.4s cubic-bezier(.45, -1.12, .35,1.78);
}

.dark-mode-checkbox:checked + .dark-mode-label .dark-mode-ball {
  transform: translateX(2.5rem);
}

.fa-moon, .fa-sun {
  color: $white;
}


 /// Intro 

     .intro__button {
      @include buttons;
      margin-left: 4rem;
      margin-right: 4rem;
  }

  .intro__button-mobile {
     @include buttons;
     margin: 2rem;
     margin-left: 10rem;
     margin-right: 10rem;
     @media screen and (max-width: 500px) {
      margin-left: 3rem;
      margin-right: 3rem;
     }     
  }

  /// Portfolio Button
  .portfolio__button {
    @include buttons;
    margin: 0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

    /// Form button

    input[type=submit] {
      @include buttons;
    }