 /* ============================================================================
    Buttons
     ============================================================================ */

     .intro__button {
      @include buttons;
      margin-left: 4rem;
      margin-right: 4rem;
  }

  .intro__button-mobile {
     @include buttons;
     margin: 2rem;
     margin-left: 10rem;
     margin-right: 10rem;
  }


    /// Form button

    input[type=submit] {
      @include buttons;
    }