// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

// Reset CSS
html {
  font-size: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Background */

body {
  background-image: url(/img/background.jpg);
  background-attachment: fixed;
  scroll-behavior: smooth;
  background-color: $bg-color;
}

/* Headings */

h1, h2, h3, h4 {
  @include titles;
  font-size: x-large;
  color: white;
}

.home__title-span {
  @include titles;
  font-size: large;
  color: white;
}

.home__paragraph {
  font-size: larger;
}
